<app-header></app-header>
<app-navigation></app-navigation>
<div align="center">
  <form >
    <caption>
      <p style="color: darkolivegreen"> <b>EDIT CUSTOMER </b></p>
    </caption>
    <table class="table-success" border="3">
      <input type="hidden" >
      <tr>
        <th> <label  style="color: darkolivegreen"> Name: </label></th>
        <td class="table-secondary" >
          <input type="text" >
        </td>
      </tr >
      <tr>
        <th> <label style="color: darkolivegreen"> Date Of Birth: </label></th>
        <td>
          <input type="date">
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Gender: </label></th>
        <td style="color: darkolivegreen">
          <input type="text">
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> ID Card: </label></th>
        <td>
          <input type="text" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Phone Number: </label></th>
        <td>
          <input type="text" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Email: </label></th>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr class="table-dark">
        <th><label style="color: darkolivegreen"> Address: </label></th>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Customer Type: </label></th>
        <td>
          <select style="color: darkolivegreen">
            <option ></option>
          </select>
        </td>
      </tr>
      <tr class="table-danger">
        <td colspan="2" align="center">
          <input type="submit" STYLE="background: darkolivegreen" value="Save"/>
        </td>
      </tr>
    </table>
  </form>
</div>
<app-footer></app-footer>
