<app-header></app-header>
<app-navigation></app-navigation>
<div align="center">
  <form [formGroup]="customerForm" (ngSubmit)="updateCus()">
    <caption>
      <p style="color: darkolivegreen"> <b>EDIT CUSTOMER </b></p>
    </caption>
    <table class="table-success" border="3">
      <input type="hidden" >
      <tr>
        <th> <label  style="color: darkolivegreen"> Name: </label></th>
        <td class="table-secondary" >
          <input type="text" formControlName="name" >
        </td>
      </tr>
      <tr>
        <th> <label style="color: darkolivegreen"> Date Of Birth: </label></th>
        <td>
          <input type="date" formControlName="dateOfBirth" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Gender: </label></th>
        <td style="color: darkolivegreen">
          <input type="text" formControlName="gender" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> ID Card: </label></th>
        <td>
          <input type="text" formControlName="idCard" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Phone Number: </label></th>
        <td>
          <input type="text" formControlName="phoneNumber" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Email: </label></th>
        <td>
          <input type="text" formControlName="email" >
        </td>
      </tr>
      <tr class="table-dark">
        <th><label style="color: darkolivegreen"> Address: </label></th>
        <td>
          <input type="text" formControlName="address">
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen" > Customer Type: </label></th>
        <td>
          <select style="color: darkolivegreen" formControlName="customerType" [compareWith]="compareFn">
            <option *ngFor="let cusType of customerType" [ngValue]="cusType"> {{cusType.name}}</option>
          </select>
        </td>
      </tr>
      <tr class="table-danger">
        <td colspan="2" align="center">
          <input type="submit" STYLE="background: darkolivegreen" value="Save"/>
        </td>
      </tr>
    </table>
  </form>
</div>
<app-footer></app-footer>
