<app-header></app-header>
<app-navigation></app-navigation>

<div align="center">
  <form [formGroup]="facilityForm" (ngSubmit)="updateFacility()">
    <caption>
      <p style="color: darkolivegreen"><b>EDIT Facility </b></p>
    </caption>
    <table class="table-success" border="3">
      <input type="hidden" formControlName="id">
      <tr>
        <th><label> Name: </label></th>
        <td class="table-secondary">
          <input type="text" formControlName="name">
          <h6 style="color: red"></h6>
        </td>
      </tr>
      <tr>
        <th><label> Area: </label></th>
        <td>
          <input type="text" formControlName="area">
        </td>
      </tr>
      <tr>
        <th><label> Number Of Floors: </label></th>
        <td>
          <input type="text" formControlName="numberOfFloors">
<!--          <h6 style="color: red" formControlName="numberOfFloors"></h6>-->
        </td>
      </tr>
      <tr>
        <th><label> Max People: </label></th>
        <td>
          <input type="text" formControlName="maxPeople">

        </td>
      </tr>
      <tr>
        <th><label> Cost: </label></th>
        <td style="color: darkolivegreen">
          <input type="text" formControlName="cost">

        </td>
      </tr>
      <tr>
        <th><label> Price: </label></th>
        <td style="color: darkolivegreen">
          <input type="text" formControlName="price">

        </td>
      </tr>
      <tr>
        <th><label> rentType: </label></th>
        <td>
          <select formControlName="rentType" [compareWith]="compareFn">
            <option *ngFor="let rent of rentType" [ngValue]="rent">{{rent.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label> Status: </label></th>
        <td>
          <input type="text" formControlName="status">

        </td>
      </tr>
      <tr class="table-danger">
        <td colspan="2" align="center">
          <button>Save</button>
        </td>
      </tr>
    </table>
  </form>
</div>
<app-footer></app-footer>
