<div>
  <ul class="nav justify-content-center bg-black">
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page" href="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/employee">EMPLOYEE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" [routerLink]="['/customer']">CUSTOMER</a>
    </li>
    <li class="nav-item text-decoration-none">
      <a class="nav-link text-white" routerLink="/facility">SERVICE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/contract">CONTRACT</a>
    </li>
  </ul>
</div>
