<div>
  <ul class="nav justify-content-center bg-black">
    <li class="nav-item">
      <a class="nav-link active text-white" aria-current="page" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">EMPLOYEE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">CUSTOMER</a>
    </li>
    <li class="nav-item text-decoration-none">
      <a class="nav-link text-white" href="#">SERVICE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">CONTRACT</a>
    </li>
  </ul>
</div>
