Search name: <input type="text" #nameSearch>
<button (click)="searchName(nameSearch.value)">Tìm kiếm</button>

<button class="btn btn-info" routerLink="/create">Thêm mới</button>
<button class="btn btn-info" (click)="changePageToCreate()">Thêm mới</button>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Point</th>
    <th>Rank</th>
    <th>Info</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of studentList; index as i">
    <td>{{i}}</td>
    <td>{{temp.name | slice: 0:3| uppercase}}...</td>
    <td>{{temp.dateOfBirth | date: "dd/MM/yyyy"}}</td>
    <td>{{temp.point}}</td>
    <!--    <td *ngIf="temp.point>=7 && temp.point <=10">Good</td>-->
    <!--    <td *ngIf="temp.point<7 && temp.point >0">Normal</td>-->
    <!--    <td *ngIf="temp.point>10 || temp.point <=0">Undefined</td>-->
    <td *ngIf="temp.point >0 && temp.point <=10; else studentBlock">
      <p *ngIf="temp.point>=7 && temp.point <=10">Good</p>
      <p *ngIf="temp.point<7 && temp.point >0">Normal</p>
    </td>
    <ng-template #studentBlock>
      <td>
        <p>Undefined</p>
      </td>
    </ng-template>
    <td>
<!--      <button (click)="student = temp">Info</button>-->
      <button [routerLink]="['/info', temp.id]">Info</button>
<!--      <button (click)="changePageToInfo(temp.id)">Info</button>-->
    </td>


  </tr>
  </tbody>
</table>
