<div align="center">
  <form>
    <caption>
      <p style="color: darkolivegreen"><b>EDIT Facility </b></p>
    </caption>
    <table class="table-success" border="3">
      <input type="hidden">
      <tr>
        <th><label> Name: </label></th>
        <td class="table-secondary">
          <input type="text">
          <h6 style="color: red"></h6>
        </td>
      </tr>
      <tr>
        <th><label > area: </label></th>
        <td>
          <input type="text" >

        </td>
      </tr>
      <tr>
        <th><label> cost: </label></th>
        <td style="color: darkolivegreen">
          <input type="text" >

        </td>
      </tr>
      <tr>
        <th><label > maxPeople </label></th>
        <td>
          <input type="text" >

        </td>
      </tr>
      <tr>
        <th><label> standardRoom: </label></th>
        <td>
          <input type="text" >

        </td>
      </tr>
      <tr>
        <th><label > descriptionOtherConvenience: </label></th>
        <td>
          <input type="text" >
        </td>
      </tr>
      <tr>
        <th><label > poolArea: </label></th>
        <td>
          <input type="text" >

        </td>
      </tr>
      <tr>
        <th><label > numberOfFloors: </label></th>
        <td>
          <input type="text" >
          <h6  style="color: red"></h6>
        </td>
      </tr>
      <tr>
        <th><label > facilityFree: </label></th>
        <td>
          <input type="text" >
        </td>
      </tr>
      <tr>
        <th><label > rentType: </label></th>
        <td>
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label > facilityType: </label></th>
        <td>
          <select >
            <option ></option>
          </select>
        </td>
      </tr>
      <tr class="table-danger">
        <td colspan="2" align="center">
          <input type="submit" STYLE="background: darkolivegreen" value="Save"/>
        </td>
      </tr>
    </table>
  </form>
</div>
