<app-header></app-header>
<app-navigation></app-navigation>
<table border="1"class="table table-success table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Area</th>
    <th>Number Of Floors</th>
    <th>Max People</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Rent Type Name</th>
    <th>Status</th>
    <th></th>
    <th rowspan="5">
      <button [routerLink]="['create']" class="btn btn-outline-success" type="submit"> + </button>
    </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of facilityList;index as i">
    <td class="table-primary">{{i+1}}</td>
    <td class="table-success">{{temp.name}}</td>
    <td class="table-secondary">{{temp.area}}</td>
    <td  class="table-warning">{{temp.numberOfFloors}}</td>
    <td  class="table-info">{{temp.maxPeople}}</td>
    <td class="table-dark">{{temp.cost}}</td>
    <td class="table-dark">{{temp.price}}</td>
    <td  class="table-secondary">{{temp.rentType.name}}</td>
    <td class="table-success">{{temp.status}}</td>
    <td>
      <button [routerLink]="['/facility/edit',temp.id]" class="btn btn-outline-success">Edit</button>
    </td>
    <td>
      <button (click)="fac = temp" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-footer></app-footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn delete <span style="color: red"> {{fac.name}} </span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"(click)="delete(fac.id)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
