<app-header></app-header>
<app-navigation></app-navigation>
  <table border="1"class="table table-success table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Area</th>
      <th>Cost</th>
      <th>Max People</th>
      <th>Standard Room</th>
      <th>Description Other Convenience</th>
      <th>Pool Area</th>
      <th>Number Of Floors</th>
      <th>Facility Free</th>
      <th>Rent Type</th>
      <th>Facility Type</th>
      <th></th>

      <th>
          <button class="btn btn-outline-success" type="submit"> + </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-primary"></td>
      <td class="table-success"></td>
      <td class="table-secondary"></td>
      <td  class="table-warning"></td>
      <td  class="table-info"></td>
      <td class="table-dark"></td>
      <td  class="table-secondary"></td>
      <td class="table-success"></td>
      <td class="table-info"></td>
      <td  class="table-info"></td>
      <td class="table-info"></td>
      <td class="table-info"></td>
      <td>
        <button type="button" class="btn btn-outline-success">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-success">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
<app-footer></app-footer>
