<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="background: #e9f2ef">
    <h1 class="text-center">Add Facility</h1>
    <form>
      <input type="hidden" >
      <div class="mb-3">
        <label class="form-label fw-bold">Facility Type</label>
        <select class="form-select" onchange="selectFacilityType()" id="facilityType">
          <option ></option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Name Facility</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Area</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Cost</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Max People</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3" id="standardRoom">
        <label class="form-label fw-bold">Atandard Room</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3" id="description">
        <label class="form-label fw-bold">Description Other Convenience</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3" id="poolArea">
        <label class="form-label fw-bold">Pool Area</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3" id="numberFloor">
        <label class="form-label fw-bold">Number Of Floors</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3" id="facilityFree">
        <label class="form-label fw-bold">Facility Free</label>
        <input type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Rent Type</label>
        <select class="form-select" >
          <option></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
<script>
  function selectFacilityType() {
    let x = document.getElementById("facilityType").value
    debugger
    switch (x) {
      case "1":
        document.getElementById("facilityFree").style.display = "none";
        document.getElementById("standardRoom").style.display = "block";
        document.getElementById("description").style.display = "block";
        document.getElementById("numberFloor").style.display = "block";
        document.getElementById("poolArea").style.display = "block";
        break;
      case "2":
        document.getElementById("poolArea").style.display = "none";
        document.getElementById("facilityFree").style.display = "none";
        document.getElementById("standardRoom").style.display = "block";
        document.getElementById("description").style.display = "block";
        document.getElementById("numberFloor").style.display = "block";
        break;
      case "3":
        document.getElementById("standardRoom").style.display = "none";
        document.getElementById("description").style.display = "none";
        document.getElementById("numberFloor").style.display = "none";
        document.getElementById("poolArea").style.display = "none";
        document.getElementById("facilityFree").style.display = "block";
        break;
      default:
        document.getElementById("standardRoom").style.display = "block";
        document.getElementById("description").style.display = "block";
        document.getElementById("numberFloor").style.display = "block";
        document.getElementById("poolArea").style.display = "block";
        document.getElementById("facilityFree").style.display = "block";
        break;
    }
  }
</script>
