<center>
<table class="table-active" cellpadding="2">
  <thead>
  <th style="color: brown;text-align: end">CALCULATOR</th>
  </thead>
  <tbody>
  <td>
    <input type="number" placeholder="number ONE.. " [(ngModel)]="num1">
  </td>
  <td>
    <select [(ngModel)]="choose">
      <option>+</option>
      <option>-</option>
      <option>*</option>
      <option>/</option>
    </select>
  </td>
  <td><input type="number" placeholder="number TWO.. " [(ngModel)]="num2"></td>
  <td>
    <button (click)="calculator()" type="button" class="btn btn-outline-danger"> Result : {{result}} </button>
  </td>
  </tbody>
</table>
</center>
