<app-header></app-header>
<app-navigation></app-navigation>
<div align="center">
  <form>
      <h5 style="color: darkolivegreen"> <b>CREATE CUSTOMER</b></h5>
    <table class="table-success" border="1">
      <tr>
        <th><label style="color: darkolivegreen">Dịch vụ</label></th>
        <td class="table-secondary">
          <select>
            <option></option>
          </select>
        </td>
      </tr >
      <tr>
        <th> <label style="color: darkolivegreen"> Khách hàng: </label></th>
        <td>
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Nhân viên : </label></th>
        <td style="color: darkolivegreen">
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Ngày làm hợp đồng: </label></th>
        <td>
          <input type="date" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen">Ngày kết thúc: </label></th>
        <td>
          <input type="date" >
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Tiền đặt cọc: </label></th>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr class="table-dark">
        <th><label style="color: darkolivegreen"> Address: </label></th>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <th><label style="color: darkolivegreen"> Customer Type: </label></th>
        <td>
          <select style="color: darkolivegreen">
            <option ></option>
          </select>
        </td>
      </tr>
      <tr class="table-danger">
        <td colspan="2" align="center">
          <input type="submit" STYLE="background: darkolivegreen" value="Save"/>
        </td>
      </tr>
    </table>
  </form>
</div>
<app-footer></app-footer>


