<app-header></app-header>
<app-navigation></app-navigation>
<table border="1" class="table table-success table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>ID Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th></th>
    <th>
      <a>
        <button class="btn btn-outline-success" type="submit"> + </button>
      </a>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cus of customerList;index as i">
    <td  class="table-primary">{{i+1}}</td>
    <td class="table-success">{{cus.name}}</td>
    <td class="table-secondary">{{cus.dateOfBirth}}</td>
    <td  class="table-info">{{cus.gender}}</td>
    <td class="table-dark">{{cus.idCard}}</td>
    <td class="table-secondary">{{cus.phoneNumber}}</td>
    <td class="table-success">{{cus.email}}</td>
    <td class="table-info">{{cus.address}}</td>
    <td class="table-dark">{{cus.customerType.name}}</td>
    <td>
      <a>
        <button [routerLink]="['/customer/edit',cus.id]" type="button" class="btn btn-outline-success">Edit</button>
      </a>
    </td>
    <td>
      <button (click)="temp=cus" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
      </button>
    </td>
    <td>
      <button [routerLink]="['/customer/view',cus.id]" class="btn btn-info" type="submit">View</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Bạn chắc chắn muốn delete <span style="color: red">{{temp.name}} </span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="delete(temp.id)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

