<app-header></app-header>
<app-navigation></app-navigation>
<table border="1" class="table table-success table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>ID Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
    <th></th>
    <th>
      <a>
        <button class="btn btn-outline-success" type="submit"> + </button>
      </a>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td  class="table-primary"></td>
    <td class="table-success"></td>
    <td class="table-secondary"></td>
<!--    <td class="table-warning">Nữ</td>-->
<!--    <td class="table-warning">Nam</td>-->
    <td  class="table-info"></td>
    <td class="table-dark"></td>
    <td class="table-secondary"></td>
    <td class="table-success"></td>
    <td class="table-info"></td>
    <td class="table-dark"></td>
    <td>
      <a>
        <button type="button" class="btn btn-outline-success">Edit</button>
      </a>
    </td>
    <td>
      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete
      </a>
    </td>
    <td>
      <button type="button"
              class="btn btn-primary"
              data-bs-toggle="modal" data-bs-target="#exampleModal0">
        View
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-footer></app-footer>

